# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/portfolio_db

# JWT
SECRET_KEY=super-secret-key-change-in-production

# Admin
ADMIN_EMAIL=i.dembele@hestim.ma
ADMIN_PASSWORD=admin123

# App
DEBUG=True